.custom-nav {
    background: rgb(142, 158, 171);
    background: linear-gradient(243deg, rgba(142, 158, 171, 1) 49%, rgba(238, 242, 243, 1) 100%);
}

.custom-album {
    background: rgb(81, 106, 110);
    background: linear-gradient(0deg, rgba(81, 106, 110, 1) 12%, rgba(135, 176, 183, 1) 100%);
}

.custom-album-2 {
    height: 300px;
    ;
    background: linear-gradient(180deg, rgba(57, 74, 77, 1) 16%, rgba(18, 18, 18, 1) 100%);
}

.custom-table {
    --bs-table-bg: #21252900;
}