html {
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  padding: 0 8em;
  background-color: white;
}

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 70px;
  background: white;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 7px -5px;
}

.header-logo {
  width: 15%;
  height: auto;
  padding-left: 8em;
}

.search-bar {
  width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 8em;
}

.search-bar ion-icon {
  font-size: 1.7em;
  color:gray;
}

button {
  background-color: white;
  border: 1px solid gray;
  border-radius: 24px;
  padding: 0.5rem;
}

.search-user {
  background-color: darkorange;
  color: white;
  border-radius: 50%;
  height: 33px;
  width: 33px;
  /* c'è un'alternativa che abbiamo già visto a lezione a line-height? */
  line-height: 33px;
  text-align: center;
}

main {
  display: flex;
}

.news {
  width: 70%;
  margin-top: 100px;
}

.news-header {
  font-size: 1.2em;
  width: 95%;
  color: gray;
  margin-bottom: 2rem;
  border-bottom: 1px solid #bababa;
  padding-bottom: 1rem;
  /* imposto lo stesso padding-bottom a span per far coincidere la linea */
}

.news-header span {
  padding-bottom: 1rem;
  margin-right: 1rem;
}

.news-header span:nth-child(2) {
  color: black;
  font-weight: bold;
  border-bottom: 1px solid #303030;
}

/* QUI INIZIANO LE NEWS */

.news-main {
  width: 95%
}

.news-cont {
  display: flex;
  align-items: center;
}

.news-title {
  width: 80%;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.news-title h1 {
  margin: 0.2em 0;
}

.news-title span,
p {
  color: gray;
  margin: 0;
}

.news-title p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

.news-user {
  display: flex;
  align-items: center;
}

.news-user ion-icon {
  font-size: 1.5em;
  margin-right: 0.2em;
}

.news-user span {
  color: black;
  font-weight: bold;
}

.news-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nf-left {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nf-left span:nth-child(3) {
  background-color: #F2F2F2;
  padding: 0.4em;
  border-radius: 24px;
}

.nf-right {
  display: flex;
  width: 10%;
  justify-content: space-around;
}

.nf-right ion-icon {
  font-size: 2em;
}

.news-img {
  width: 30%;
}

.news-img img {
  width: 100%;
}

.news-side {
  border-left: 1px solid lightgray;
  margin-top: 60px;
  width: 25%;
  padding-left: 3em;
}

.news-side > div {
  margin-top: 2em;
}

/* PARTE SOCIAL */

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 15%;
  text-align: center;
  font-size: 1.3rem;
  border-bottom: 1px solid lightgray;
}

.social div {
  display: flex;
  height: 20%;
  font-size: 1em;
  justify-content: space-evenly;
  align-items: center;
}

.social p {
  margin: 1em 0;
  font-size: 0.8em;
}

.social div img {
  height: 100%;
  margin: 0 0.2em;
}

.social button {
  width: 210px;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social button span {
  width: 10%;
}

.social button span img {
  width: 100%;
  height: 100%;
}

.maybe {
  text-decoration: underline;
}

/* PARTE TOPICS RACCOMANDATI */

.recom {
  height: 10%;
}

.recom p:first-child {
  color: black;
  font-weight: bold;
}

.recom-tags {
  margin-top: 1em;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
}

.recom-tags span {
  background-color: #dbdbdbf5;
  border-radius: 24px;
  color: black;
  padding: 0.5em;
  margin: 0.2em 0.2em;
}

/* PARTE FOLLOW */

.follow p:first-child {
  font-weight: bold;
  color: black;
}

.follow > div {
  margin-top: .5em;
}

.follow-users {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.follow-u {
  height: 100%;
  display: flex;
  align-items: center;
}

.follow-u ion-icon {
  font-size: 2em;
  margin-right: 0.3em;
}

.follow-bio p:first-child {
  color: black;
  font-weight: bold;
}

.follow-bio p {
  margin: 0.3em 0;
}

/* PARTE SAVED */

.rec-saved-box p span {
  color: black;
  font-weight: bold;
}

.rec-s-art {
  margin: 1em 0;
}

.rec-s-art p {
  margin: 0.3em 0;
}

.rec-a-title {
  display: flex;
  align-items: center;
}

.rec-a-footer {
  display: flex;
  align-items: center;
}

.rec-a-footer span {
  margin-top: 0.5em;
  margin-right: 0.4em;
  color: gray;
}

.rec-s-footer {
  margin: 3em 0 4em 0;
}

.rec-s-footer p {
  color: green;
}

footer {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0;
}

footer span {    
  color: gray;
  margin: 0 1.1em .9em 0;
}